#my-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-img{
    height: 36.5px;
    width: 36.5px;

}
#logo-text{
    font-size: 18px;
    font-weight: bold;
    font-family: "Sora", sans-serif;
}