.my-link {
    font-family: "Sora", sans-serif;
    font-weight: 600 !important;
    color: black !important;
    font-size: 18px !important;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.dark-mode .my-link {
    
    color: white !important;

}

.my-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black; 
    left: 0;
    bottom: -2px; 
    transition: width 0.3s ease;
}

.dark-mode .my-link::after {
    background-color: white; 
}

@media (max-width: 992px) {
    .my-link::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black; 
        left: 0;
        bottom: -2px; 
        transition: width 0.3s ease;
    }
  }




.my-link:hover::after {
    width: 100%; 
}

.my-link:focus {
    color: black !important; 
    outline: none;
}
.dark-mode .my-link:focus {
    color: white !important; 
}

.nav-link:active {
    transform: scale(0.95);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3); 
    animation: ripple-animation 0.6s ease-out;
    pointer-events: none;
    transform: scale(0);
    z-index: 1;
}

@keyframes ripple-animation {
    to {
        transform: scale(3);
        opacity: 0;
    }
}
